{% extends 'mailsender/base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
    <h1>Вход</h1>

    {% if messages %}
        <div class="alert alert-warning">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        {% if form.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <button type="submit" class="btn btn-success">Войти</button>
    </form>
    <p>Не зарегистрированы? <a href="{% url 'users:register' %}">Зарегистрироваться</a></p>
{% endblock %}

