{% extends 'mailsender/base.html' %}

{% block title %}Изменение статуса{% endblock %}

{% block content %}
    <h1>Изменение статуса пользователя: {{ user.get_full_name }}</h1>
    <form method="POST">
        {% csrf_token %}
        <p>Текущий статус: {{ user.is_active|yesno:"Активен,Не активен" }}</p>
        <button type="submit" class="btn btn-danger">Изменить статус</button>
    </form>
    <a href="{% url 'users:all-users' %}" class="btn btn-secondary">Назад к списку пользователей</a>
{% endblock %}